{{include './header.html'}}
<style>
img.pp{
    width: 100px;
    height: 100px;
}
.header-img{
    height: 100px;
    width: 100px;
    position: relative;
}
.edi-btn{
    position: absolute;
    top: 40px;
    left: 20px;
    display: none;
}
.header-img:hover .edi-btn{
    display: block;
}
</style>
<div class="zhongjian">
   <form action="/edit/userinfo" method="POST">
    <span>头像：</span>
    <div class="header-img">
        <img class="pp" src="{{users.headerurl}}" alt="">
   
        <a class="edi-btn" href="/edit/user/header?username={{users.username}}">编辑头像</a>

    </div>
    <label for="">姓名：{{user.username}} </label><br>
    <label for="age"> 年龄：<input type="text" name="age" id="" value="{{users.age}} "> </label><br>
    <button type="submit">修改</button>
</form> 
</div>

{{include './footer.html'}}